.choose-group{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin: 30px 0;
    background-color: #fff;
    border-radius: 5px;
}

.choose-group-header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 350px;
    gap: 25px;
}

.choose-group-header-image{
    height: 150px;
    width: 200px;
    object-fit: contain;
}

.choose-group-header-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.choose-group-title{
    font-size: 25px;
    font-weight: 700;
    color: #6a6868;
}

.choose-group-header-info-description{
    font-size: 15px;
    font-weight: 400;
    color: #6a6868;
    word-spacing: 2px;
}

.choose-group-header-info-btn{
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background-color: #182f3f;
    color: #fff;
    border: none;
    transition: 0.3s ease;
    border-radius: 5px;
}

.choose-group-header-info-btn:hover{
    background-color: #111;
}

.choose-group-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.choose-group-list-header{
    font-size: 25px;
    color: #6a6868;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.choose-group-list > span > h3{
    margin-left: 7px;
}

.choose-group-select{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 30px;
    gap: 20px;
}

.choose-group-select-item{
    width: 30%;
    height: 150px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #6a6868;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.choose-group-select-item-image{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.choose-group-select-item-title{
    color: #182f3f;
    font-size: 20px;
    font-weight: 500;
    flex: 1;
    padding: 0 10px;
}

@media (min-width:350px) and (max-width:750px){
    .choose-group{
        padding: 0;
        gap: 50px;
    }

    .choose-group-header{
        flex-direction: column;
    }

    .choose-group-list-header{
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .choose-group-select{
        margin: 20px 0;
        flex-direction: column;
    }

    .choose-group-select-item{
        width: 100%;
    }
}